<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento de Dígitos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>¡Dibuja un número!</h1>
        <div class="canvas-container">
            <canvas id="canvas" width="280" height="280"></canvas>
        </div>
        <div>
            <button id="clearButton">Borrar</button>
            <button id="submitButton">Enviar</button>
        </div>
        <div id="result"></div>
    </div>

    <script>
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        let drawing = false;

        canvas.addEventListener('mousedown', (e) => {
            drawing = true;
            context.beginPath();
            context.moveTo(e.offsetX, e.offsetY);
        });

        canvas.addEventListener('mousemove', (e) => {
            if (drawing) {
                context.lineTo(e.offsetX, e.offsetY);
                context.stroke();
            }
        });

        canvas.addEventListener('mouseup', () => {
            drawing = false;
        });

        document.getElementById('clearButton').addEventListener('click', () => {
            context.clearRect(0, 0, canvas.width, canvas.height);
            document.getElementById('result').innerHTML = '';
        });

        document.getElementById('submitButton').addEventListener('click', () => {
            const ctx = canvas.getContext('2d');
            const imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);
            const data = imgData.data;

            for (let i = 0; i < data.length; i += 4) {
                data[i] = 255 - data[i];       // R
                data[i + 1] = 255 - data[i + 1]; // G
                data[i + 2] = 255 - data[i + 2]; // B
                // Alpha queda igual
            }

            ctx.putImageData(imgData, 0, 0);

            const imageData = canvas.toDataURL('image/png');

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image: imageData })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = `Predicción: ${data.prediction}`;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                document.getElementById('submitButton').focus();
            });
        });

        // Limpiar el canvas al cargar la página
        window.onload = () => {
            context.clearRect(0, 0, canvas.width, canvas.height);
        };

    </script>
</body>
</html>
